@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Dark mode colors. */
    :root {
        --sl-color-accent-low: #070707;
        --sl-color-accent: #C1FE77;
        --sl-color-accent-high: #D0FF96;
        --sl-color-white: #F1F1F1;
        --sl-color-gray-1: #eeeeee;
        --sl-color-gray-2: #b1b1b1;
        --sl-color-gray-3: #8b8b8b;
        --sl-color-gray-4: #414141;
        --sl-color-gray-5: #414141;
        --sl-color-gray-6: #070707;
        --sl-color-black: #131313;
    }
    /* Light mode colors. */
    :root[data-theme='light'] {
        --sl-color-accent-low: #cfddba;
        --sl-color-accent: #070707;
        --sl-color-accent-high: #070707;
        --sl-color-white: #181818;
        --sl-color-gray-1: #272727;
        --sl-color-gray-2: #383838;
        --sl-color-gray-3: #585858;
        --sl-color-gray-4: #8b8b8b;
        --sl-color-gray-5: #c2c2c2;
        --sl-color-gray-6: #eeeeee;
        --sl-color-gray-7: #f6f6f6;
        --sl-color-black: #ffffff;
    }

    .site-title img {
        @apply h-6  ;
    }
    .header {
        @apply bg-container-1;
    }
    .header select {
        @apply text-white;
    }
    .header .icon {
        @apply text-white;
    }
    .header .social-icons svg {
        @apply fill-accent-base; 
    }
}

