---
import type { Props } from "@astrojs/starlight/props";
import Default from "@astrojs/starlight/components/SocialIcons.astro";
---

<Default {...Astro.props}><slot /></Default>

<a href="https://www.npmjs.com/package/@lucidcms/core" rel="me" class="sl-flex">
  <span class="sr-only">NPM</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    aria-hidden="true"
    fill="currentColor"
    height="16"
    width="16"
    viewBox="0 0 576 512"
  >
    <path
      d="M288 288h-32v-64h32v64zm288-128v192H288v32H160v-32H0V160h576zm-416 32H32v128h64v-96h32v96h32V192zm160 0H192v160h64v-32h64V192zm224 0H352v128h64v-96h32v96h32v-96h32v96h32V192z"
    ></path>
  </svg>
</a>

<style>
  a {
    color: var(--sl-color-text-accent);
    margin: -0.5em;
    padding: 0.5em;
  }

  a:hover {
    opacity: 0.66;
  }
</style>
