---
import { toolkit } from "@lucidcms/core";

const { error, data } = await toolkit.document.getSingle({
  collectionKey: "page",
  query: {},
});

if (error) {
  throw new Error(error.message);
}

const pageTitle = data.fields?.find((field) => field.key === "page_title");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>
      {pageTitle?.translations?.en}
    </h1>
  </body>
</html>
