@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/inter-light.woff2) format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/inter-regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/inter-medium.woff2) format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/inter-semibold.woff2) format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/inter-bold.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Archivo";
  src: url(./assets/fonts/archivo-bold.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Archivo";
  src: url(./assets/fonts/archivo-black.woff2) format("woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

:root {
  --lucid-page-layout-footer-height: 0px;
  --lucid-page-layout-header-height: 0px;
}

@layer base {
  /* Typography */
  h1 {
    @apply text-2xl tracking-wider font-bold text-title font-display;
  }
  h2 {
    @apply text-xl font-bold text-title font-display;
  }
  h3 {
    @apply text-lg font-medium text-title font-display;
  }
  h4 {
    @apply text-base font-medium text-title font-body;
  }
  h5 {
    @apply text-base font-medium text-title font-body;
  }
  h6 {
    @apply text-base font-medium text-title font-body;
  }
  p,
  li,
  a {
    @apply text-base font-normal tracking-wide leading-relaxed text-body font-body;
  }
  a {
    @apply hover:text-primary-hover duration-200 transition-colors ease-in-out focus:outline-none focus:ring-1 focus:ring-primary-base;
  }

  /* Other */
  body {
    @apply bg-container-3 text-body font-body;
  }
  ::-moz-selection {
    @apply bg-primary-base text-primary-contrast;
  }
  ::selection {
    @apply bg-primary-base text-primary-contrast;
  }

  [data-overflowing="true"] .row-actions-td {
    filter: drop-shadow(-5px 0px 5px rgba(0, 0, 0, 0.1));
  }

  .dropdown-trigger {
    @apply duration-200 transition-colors focus:outline outline-primary-base outline-1;
  }
  .skeleton {
    @apply bg-container-4 rounded-md animate-pulse;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* Page Layout */
  .page-layout {
    min-height: calc(100vh - var(--lucid-page-layout-header-height));
  }
  .page-layout-full-body {
    min-height: calc(
      100vh - var(--lucid-page-layout-header-height) -
        var(--lucid-page-layout-footer-height)
    );
  }

  /* Wysiwyg */
  .ql-toolbar {
    @apply !border-border !rounded-t-md;
  }
  .ql-container.ql-snow {
    @apply !border-border !rounded-b-md;
  }
  .ql-container-1 {
    @apply !border-border !rounded-b-md;
  }
  .ql-toolbar .ql-stroke {
      @apply !stroke-body duration-200 transition-colors;
  }
  .ql-toolbar .ql-fill {
      @apply !fill-body duration-200 transition-colors;
  }
    .ql-picker-label {
        @apply text-body hover:!text-primary-hover duration-200 transition-colors ;
    }
    .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
        @apply !border-border;
    }
    .ql-picker-label.ql-active {
        @apply !text-primary-base;
    }
    .ql-toolbar .ql-picker:hover .ql-stroke, .ql-toolbar button:hover .ql-stroke {
        @apply !stroke-primary-hover;
    } 
    .ql-toolbar .ql-picker:hover .ql-fill, .ql-toolbar button:hover .ql-fill {
        @apply !fill-primary-hover;
    } 
    .ql-active .ql-stroke {
        @apply !stroke-primary-base;
    }
    .ql-active .ql-fill {
        @apply !fill-primary-base;
    }
    .ql-tooltip {
        @apply !left-1/2 !-translate-x-1/2 !shadow-none !bg-container-1 rounded-md !border-border !border !text-body;
    }
    .ql-tooltip input {
        @apply !bg-container-1 rounded-md !border-border !border !text-body focus:outline-none focus:ring-1 ring-primary-base;
    }
    .ql-tooltip .ql-action, .ql-tooltip .ql-remove {
        @apply !text-primary-contrast bg-primary-base hover:bg-primary-hover ml-2.5 px-2.5 rounded-md;
    } 
    .ql-tooltip .ql-action:after, .ql-tooltip .ql-remove:before {
        @apply !ml-0 !text-sm !px-0;
    }
    .ql-tooltip .ql-action:hover, .ql-tooltip .ql-remove:hover {
        @apply !text-primary-contrast !bg-primary-hover;
    }
    .ql-preview {
        @apply !text-primary-base;
    }
    .ql-snow a {
        @apply !text-primary-base hover:!text-primary-hover duration-200 transition-colors;
    }

    .ql-picker-options {
        @apply !bg-container-1 rounded-md !border-border !border !text-body;
    }
    .ql-picker-item:hover {
        @apply !text-primary-hover;
    }
    .ql-picker-item.ql-selected {
        @apply !text-primary-base;
    }


  /* Animations */
  @keyframes animation-enter {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  @keyframes animation-leave {
    0% {
      opacity: 1;
      transform: translateY(0px);
    }
    100% {
      opacity: 0;
      transform: translateY(10px);
    }
  }
  @keyframes animation-dropdown {
    0% {
      transform: translateY(-5px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  @keyframes animation-from-left {
    0% {
      transform: translateX(-5px);
      opacity: 0;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  @keyframes animation-fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes animation-fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes animate-slide-from-right-in {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  @keyframes animate-slide-from-right-out {
    0% {
      transform: translateX(0%);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }
}